/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(55, 50, 42);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin: 0px;
}