.header{
    display:flex;
    background-color: rgb(26, 29, 23);
    width: 100%;
    height: 60px;
}

.header a{
    color:white;
    text-decoration: none;
    margin:auto;
    font-size: 1.85rem;
}

.header ul{
    list-style: none;
}

.logout{
    cursor: pointer;
}

img{
    max-width: 60px;
}